################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ForaCodingChallenge/FileContentIndex/7d599dd3-3d8b-430b-a0e7-1d34f387f1c2.vsidx
/.vs/ForaCodingChallenge/FileContentIndex/aeb9cb0a-e8d7-41af-a387-c504de7e3181.vsidx
